/* Write your code here. */
.navbar {
  height: 20%;
  background-color: #9796f0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  padding: 10px;
}
.logo {
  display: flex;
}
.score-items {
  display: flex;
}
.scores {
  margin-right: 20px;
}

.img {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-right: 10px;
}
